body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: Black;
  }
button {
  margin: 0;
  padding: 11px;
  width: 250px;
  height: 200px;
  border-radius: 10px;
  color: black;
  background: #39ff14;
  }
button:hover {
  color: green;
  box-shadow: 0 0 60px #39ff14,0 0 70px blue,0 0 100px pink,0 0 120px #f32179;
  }
h3 {
  color: green;
  box-shadow: 0 0 100px #39ff14,0 0 50px green;
  }
  
    
